doctype html
html
    head
        meta(charser='utf-8')
    body
        h1 Server Side JavaScript
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        article
            h2= title
            = description
